# Virtual environment
venv/

# Environment variables
.env

# Databases
*.db
*.db-journal
*.sqlite


# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dependencies
*.egg-info/
dist/
build/
